.home-container {
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
}
.logo {
    color: #293550;
    font-weight: 600;
    font-size: 35px;
    padding: 0 30px 0 0;
}
.home-container nav{
    width: 100%;
    padding:15px 120px 20px 120px;
    display: block;
    background-color: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
}
.home-container nav span {
    color: #272727;
    text-align: center;
    padding:33px 100px 25px 100px;
    align-items: center;
    font-size: 17px;
    transition: 1s;
}

.home-container nav span:hover {
    color: #fff;
    text-decoration: none;
    transition: 1s;
    background:#293550;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px -12px #293550, inset 0px 15px #293550;
}

.home-container .apresentation {
    display: block;
    padding: 30px 30px 30px 30px;
    justify-content: space-between;
    width: 100%;
    background-color: #d7d7d8;
}

.home-container .details {
    padding: 30px 30px 30px 30px;
    display: block;
    justify-content: space-between;
    width: 100%;
    color: #f0f0f5;
    background-color: #293550;
}

.home-container .contact {
    padding: 30px 30px 30px 30px;
    display: block;
    justify-content: space-between;
    width: 100%;
    color: #FFF;
    background-color: #2c2c2c;
}

.menu{
    text-shadow: 1px 1px 1px #fff;
    font-family: Raleway;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    height:20px;width: 100px;
    border-radius:1px;
    opacity:0.8;-moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 0.9s linear;
    transition: all 0.9s ease-out;
    -moz-transition: all 0.9s ease-out;
}

.menu:hover{
    cursor:hand;
    background:#A9A9A9; font-family: Raleway;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    color:#FFF;
    opacity: 1;
    text-shadow: 1px 1px 1px #BFC9D3;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px -12px #A9A9A9, inset 0px 15px #A9A9A9;
}