.body{
    background-color: #293550;
}
.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    padding-left: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container section.form {
    width: 100%;
    max-width: 280px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 0px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}